@import url(../css/reset.css);
@import url(../css/fonts.css);
@import url(../css/font-awesome.min.css);

.centr-position{
    max-width: 1024px;
    margin: 0 auto;
}
.name-company{        
    color: #ffffff;
    font-family: "Reef-Bold";
    font-size: 26px;
    text-transform: uppercase;
}
header{
   /* height: 683px;*/
    background-image: url('../image/header-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    padding-bottom: 174px;
    .nav-icon{
        color: #ffffff;
    }
    .navbar-toggler{        
        background-color: transparent;
        border: 1px solid white;
        border-radius: 0.25rem;
    }
    .nav-line{
        padding-top: 17px;       
    }    
    .nav-link{
        color: #ffffff;
        font-family: "Raleway-Bold";
        font-size: 11px;
        text-transform: uppercase;
        border-bottom: solid transparent 3px;
        &:hover{
            border-bottom: solid #ffffff 3px;
        }
    }

    .main-title{
        margin-top: 175px;
        max-width: 786px;
        line-height: 90px;
        color: #ffffff;
        font-family: "Kartika-Bold";
        font-size: 71px;
        text-transform: uppercase;
    }
    .btn-learn-more{
        margin-top: 117px;
       
        cursor: pointer;
        width: 238px;
        height: 49px;
        background-color: #7ca5d9;
        border-radius: 25px;

        color: #ffffff;
        font-family: 'Roboto-Regular';
        font-size: 17px;
        line-height: 49px;
        text-transform: uppercase;
    }
}

.download-section{    
    padding-bottom: 39px;  
    background: radial-gradient(#a58ab6, #8c709d);

   .triangle-arrow{
        width: 94px;
        height: 33px;
        background-image: url('../image/download-tr3..png');
        
        position: absolute;
        top: -31px;
        left: 50%;
        transform: translate(-50%,0);
        .arrow{
            display: block;
            font-family: 'FontAwesome-Webfont';
            color: #ffffff;
            font-size: 20px;
            margin-top: 10px;            
        }
    }
    .title{
        padding-top: 47px;
        color: #ffffff;
        font-family: 'Raleway-Light';
        font-size: 25px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .text{
        margin-top: 35px;
        margin-bottom: 40px;       
        color: #ffffff;
        font-family: "Raleway-SemiBold";
        font-size: 17px;
    }
    .btn-download{
        width: 210px;
        height: 40px;
        border: solid #ffffff 1px;
        border-radius: 20px;        
        cursor: pointer;
        .icon-download{
            height: 18px;
            width: 18px;
            margin-left: 26px;
            margin-top: 10px;
            margin-right: 16px;
        }
        .btn-text{  
        color: #ffffff;
        font-family: 'Roboto-Light';
        font-size: 16px;
        font-weight: 300;
        line-height: 40px;
        text-transform: uppercase;
        }
    }
}

.what-we-do{
    background-image: url('../image/what-to-do-background.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 36px;
    height: 551px;
    padding-top: 66px;
    .padding-left{
        padding-left: 70px;
    }
    .title{
        color: #969696;
        font-size: 37px;
        font-family: "Raleway-Light";       
        .bold-word{
            color: #000000;
            font-family: 'Roboto-Bold';
        }
    }
    .title-shadow{
        position: relative;
        right: 60px;
        line-height: 43px;
        opacity: 0.06;
        font-family: "SegoeUI-Bold";
        font-size: 66px;
        color: #131313;
        .title-shadow-dark{
            color: #000000;
        }
    }
    .text{
        margin-top: 25px;
        margin-bottom: 88px;
       
        max-width: 337px;
        color: #595959;
        font-family: 'Calibri';
        font-size: 16px;
    }
    .text-alt{
        @extend .text;
        margin-top: 70px;
        margin-bottom: 0px;
        color: #000000;
        font-size: 18px;
        .altcolortext{
            color: #111111;
        }
    }   

    .btn-learn-more{
        width: 185px;
        height: 44px;
        border-radius: 22px;
        border: solid #33c5f5 1px;        
        cursor: pointer;

        color: #060606;
        font-family: "Raleway-Medium";    
        font-size: 17px;
        line-height: 42px;
        text-transform: uppercase;
    }
}

.icons-section{
    background-color: #45b782;
    padding-top: 64px;
    padding-bottom: 64px;
    .icon-container{       
        max-width: 248px;
        min-width: 120px;
        min-height: 309px;
        border: dashed transparent 2px;
        .container-half-icon{
            height: 185px;
            display: flex;
            align-items: center;
            justify-content: center;
        }        
        .container-half-text{
           .text{
            max-width: 210px;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px; 
            color: #ffffff;
            font-family: "LuganskyV";
            font-size: 13px;
            font-weight: 400;
            }
        }
    }
    .icon-container:hover{
        border: dashed #ffffff 2px;
        border-radius: 60px;
    }    
}

.as-our-service{
    .gradient-white-grey{
        height: 495px;
        background-image: linear-gradient(to top, #f3f3f3 65%,  #ffffff 35%);
    }
    .radial-gradient-blue{
        height: 400px;
        background: radial-gradient(#7ca4d9, #5f86b4);
        color: #ffffff;
        .title{
            padding-top: 173px;
            margin-bottom: 79px;       
            font-family: "Raleway-Regular";
            font-size: 30px;
            letter-spacing: 10px;
            text-transform: uppercase;
        }
        .subtitle{     
            font-family: 'Calibri-Bold';
            font-size: 18px;
            text-transform: uppercase;       
        }
        .text{        
            font-family: "Raleway-Regular";
            font-size: 16px;
            line-height: 20px;
        }
        .text-alt{
            @extend .text;
            font-family: 'Raleway-Medium';
        }
    }
    .img-abs{
        position: absolute;
        top:150px;
        left: calc(50% - 314px);
    }
}
.testimonials{
    padding-top: 40px;
    .title-shadow{
        margin-left: 55px;
        opacity: 0.1;
        color: #2a2a2a;
        font-family: 'Roboto-Bold';
        font-size: 68px;
        text-transform: uppercase;
        line-height: 23px;
    }
    .title{
        margin-bottom: 55px;
        color: #8c8c8c;       
        font-size: 30px;       
        font-family: "Raleway-Light";
        .title-alt{
            font-family: 'Roboto-Bold';
            color: #2a2a2a;
        }
    }
    .slide-header {
        .comment{
            width: 534px;
            background-color: #f6f6f6;
            display: flex;
            align-items: start;
            justify-content: center;
            margin-bottom: 62px;
            padding-top: 25px;
            padding-bottom: 48px;
            .comment-text-style{                
                display: block;
                max-width: 464px;            
                color: #2a2a2a;
                
                font-size: 18px;
                font-family: 'Sitka-Small-Italic';
            }
            .comment-text::before{
                content:"\201C";	
                font-size: 30px;
                color: #2a2a2a;
                font-family: "Sitka Heading Italic";
            }
            .comment-text::after{ 
                content:"\201E";	
                font-size: 30px;
                color: #2a2a2a;
                font-family: "Sitka Heading Italic";
                position: absolute;
                bottom: -22px;
                right: 0; 
                transform: translate(-50%,0);
                text-align: left;
            }        
        }
        .user{ 
            align-items: center;
            justify-content: center;            
            font-family: 'Roboto-Light';
            font-size: 18px;
            .photo-user{
                height: 46px;                
            }
            margin-bottom: 65px;
        }       
    }    
    .carousel-control-next-icon, .carousel-control-prev-icon{
        background-image: none;
        .f-color{ 
            color:#9577a7;
            font-size: 30px;    
            font-family: 'FontAwesome-Webfont';
        }
    }
}

footer{
    height: 128px;
    background-color: #202833;
    .grey-line{
        height: 2px;
        width: 100%;
        background-color: #dadada;
    }
    .name-company{
        padding-top: 40px;        
        font-family: 'NewsGothicBT-RomanCondensed';
        font-size: 25px;
    }
    .footer-link{  
        padding-top: 44px;
        color: #ffffff;        
        font-family: "Raleway-Medium";
        font-size: 10px;
        text-transform: uppercase;
    }
    .copyright{
        margin-top: 47px;
        color: #ffffff;        
        font-family: 'Roboto-Medium';
        font-size: 11px;        
    }
    .contact{
        padding-top: 33px;
    }
    .link-contact{        
        padding-bottom: 16px;            
        color: #ffffff;        
        font-size: 12px;        
    }
    .mail-font{
        font-family: 'Raleway-Regular';
    }
    .tel-font{
        font-family: 'Roboto-Regular';            
    }
    .design-by{
        margin-top: 18px;
        opacity: 0.23;
        color: #ffffff;        
        font-family: 'Roboto-Medium';
        font-size: 11px;
    }
}



@media screen and (max-width: 600px){ 
    .name-company{
        font-size: 20px;
    }
    header{
        padding-bottom: 75px;
        .main-title{
            font-size: 30px;
            margin-top: 80px;
            line-height: 40px;
        }
        .btn-learn-more{
            width: 180px;
            height: 40px;
            line-height: 40px;
            margin-top: 70px;
        }
    }    
    .what-we-do{
        background-image: none;
        .padding-left{
            padding-left: 10px;
        }
       .title-shadow{
            right: 10px;
            line-height: 28px;
            font-size: 44px;
        }
       .text, .text-alt{
           max-width: 100%;
       }
       .btn-learn-more{
            margin-left: auto;
            margin-right: auto;
        }
    }    
    .as-our-service{
       .img-abs{
            width:90%;
            left: 50%;
            transform: translate(-50%,0);        
        }
        .radial-gradient-blue{
            height: 300px;
            .title{
                padding-top: 85px;
            }
            .subtitle{
                font-size: 12px;
                line-height: 14px
            }
            .text{
                font-size: 11px;
                line-height: 12px;
            }
        }
    }
    .testimonials{
        .title-shadow{
            font-size: 42px;
            text-align: left;
            margin-left: 2px;
        }
        .slide-header {
            min-height: 250px;
             .comment{
                width: 75%;                
                .comment-text{
                    width: 75%;
                    .comment-text-style{
                        font-size: 12px;
                    }
                }
                .comment-text::before{                    	
                    font-size: 20px;
                }
                .comment-text::after{ 
                    font-size: 20px;
                    bottom: -12px;                    
                }      
            }
        }
        .user{            
            font-size: 12px;
            .photo-user{
                height: 35px;                
            }
            margin-bottom: 45px;
        }
    }
    footer{ 
        .center-column {
            display: none;
        }
    } 
}
@media screen and (min-width: 601px) 
and (max-width: 800px){
    .what-we-do{
        background-image: none;
        .text, .text-alt{
            max-width: 100%;
        }
        .btn-learn-more{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .footer-link{
        display: none;
    }
    .copyright{
        padding-top: 54px;
    }
}
@media screen and (min-width: 1024px) 
and (max-width: 1440px){
    header {
        height: 900px;
    }
}
@media screen and (min-width: 1440px){
    header {
        height: 960px;
    }
}