@import url(../css/reset.css);
@import url(../css/fonts.css);


/*
.rel{
    position: relative;
}*/
.centr-position{
    max-width: 1024px;
    margin: 0 auto;
}
.name-company{
        
    color: #ffffff;
    font-family: "Reef-Bold";
    font-size: 26px;
    text-transform: uppercase;
}
header{
    height: 683px;
    background-image: url('../image/header-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    .nav-line{
        padding-top: 17px;       
    }
    
    .nav-link{
        color: #ffffff;
        font-family: "Raleway-Bold";
        font-size: 11px;
        text-transform: uppercase;
        border-bottom: solid transparent 3px;
        &:hover{
            border-bottom: solid #ffffff 3px;
        }
    }

    .main-title{
        margin-top: 175px;
        max-width: 770px;
        color: #ffffff;
        font-family: "Kartika-Bold";
        font-size: 71px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .btn-learn-more{
        margin-top: 117px;
        cursor: pointer;
        width: 238px;
        height: 49px;
        background-color: #7ca5d9;
        border-radius: 25px;

                
        color: #ffffff;
        font-family: 'Roboto-Regular';
        font-size: 17px;
        line-height: 49px;
        text-transform: uppercase;
    }
}

.download-section{
    height: 234px;
    /*background-color: #9577a7;*/
    background: radial-gradient(ellipse at center, rgba(149,119,167,1) 0%,rgba(149,118,167,0.96) 97%,rgba(153,123,170,0.96) 100%); 
    .triangle-arrow{
        width: 104px;
        height: 37px;
        background-image: url('../image/download-tr.png');
        
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translate(-50%,0);
        .arrow{
            display: block;
            
            color: #ffffff;
           font-size: 17px;
           padding-left: 20px;
           transform: rotate(90deg);
            
        }
    }
    .title{
        padding-top: 47px;
        color: #ffffff;
        font-family: 'Raleway-Light';
        font-size: 25px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .text{
        margin-top: 35px;
        margin-bottom: 40px;
       
        color: #ffffff;
        font-family: "Raleway-SemiBold";
        font-size: 17px;
    }
    .btn-download{
        width: 210px;
        height: 40px;
        border: solid #ffffff 1px;
        border-radius: 20px;
        
        cursor: pointer;
        .icon-download{
            height: 18px;
            width: 18px;
            margin-left: 26px;
            margin-top: 10px;
            margin-right: 16px;
        }
        .btn-text{  
        color: #ffffff;
        font-family: 'Roboto-Light';
        font-size: 16px;
        font-weight: 300;
        line-height: 40px;
        text-transform: uppercase;
        }
    }
}

.what-we-do{
    background-image: url('../image/what-to-do-background.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 36px;
    height: 551px;
    padding-top: 66px;
    .padding-left-70{
        padding-left: 70px;
    }
    .title{
        color: #969696;
        font-size: 37px;
        font-weight: 300;
        font-family: "Raleway-Light";
        font-weight: 300;
       
        .bold-word{
            color: #000000;
            font-family: 'Roboto-Bold';
            font-weight: 700;
        }
    }
    .title-shadow{
        position: relative;
        right: 60px;
        line-height: 43px;
        opacity: 0.06;
        font-family: "SegoeUI-Bold";
        font-size: 66px;
        color: #131313;
        .title-shadow-dark{
            color: #000000;
        }
    }
    .text{
        margin-top: 25px;
        margin-bottom: 88px;
       
        width: 337px;
        color: #595959;
        font-family: Calibri;
        font-size: 16px;
        font-weight: 400;

    }
    .text-alt{
        @extend .text;
        margin-top: 70px;
        margin-bottom: 0px;
        color: #000000;
        font-size: 18px;
        .altcolortext{
            color: #111111;}
    }
    
    .btn-learn-more{
        width: 185px;
        height: 44px;
        border-radius: 22px;
        border: solid #33c5f5 1px;
        
        cursor: pointer;

        color: #060606;
        font-family: Raleway;
        font-size: 17px;
        font-weight: 500;
        line-height: 44px;
        text-transform: uppercase;
    }
}

.icons-section{/*
    height: 436px;
    padding-top: 64px;*/
    background-color: #45b782;

    
    .icon-container{
        margin-top: 64px;
        margin-bottom: 64px;
        max-width: 248px;
        min-height: 309px;
        border: dashed transparent 1px;
        .container-half-icon{
            height: 185px;
            display: flex;
            align-items: center;
            justify-content: center;
        }        
        .container-half-text{
           .text{
            max-width: 210px;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px; 
            color: #ffffff;
            font-family: "LuganskyV";
            font-size: 13px;
            font-weight: 400;
            }
        }
    }
    .icon-container:hover{
        border: dashed #ffffff 1px;
        border-radius: 60px;
    }    
}
.as-our-service{
    height:895px;
    /*  background-image: linear-gradient(to bottom, #ffffff 18%, #f3f3f3 37%, #6289b8 45%);*/
    /* background-image: linear-gradient(to bottom, #ffffff 20%,#709dca 50%, #ffffff 30%);*/
    .gradient-white-grey{
        height: 495px;
        background-image: linear-gradient(to top, #f3f3f3 65%,  #ffffff 35%);
    }
    .radial-gradient-blue{
        height: 400px;
        background: radial-gradient(#7ca4d9, #5f86b4);
        color: #ffffff;
        .title{
            padding-top: 173px;
            margin-bottom: 79px;       
            font-family: "Raleway-Regular";
            font-size: 30px;
            letter-spacing: 10px;
            text-transform: uppercase;
        }
        .subtitle{     
            font-family: 'Calibri-Bold';
            font-size: 18px;
            text-transform: uppercase;       
        }
        .text{
        
            font-family: "Raleway-Regular";
            font-size: 16px;
            line-height: 20px;
        }
        .text-alt{
            @extend .text;
            font-family: 'Raleway-Medium';
        }
    }
    .img-abs{
        position: absolute;
        top:150px;
        left: calc(50% - 314px);
    }
}
.testimonials{
    height: 485px;
    padding-top: 40px;

    .title-shadow{
        margin-left: 55px;
        opacity: 0.1;
        color: #2a2a2a;
        font-family: 'Roboto-Bold';
        font-size: 68px;
        text-transform: uppercase;
        line-height: 23px;
    }
    .title{
        margin-bottom: 55px;
        color: #8c8c8c;       
        font-size: 30px;       
        font-family: "Raleway-Light";
        .title-alt{
            font-family: 'Roboto-Bold';
            color: #2a2a2a;
        }
    }

    .slide-header {
        height: 300px;
        text-align: center;
    }
    .comment{
        width: 534px;
        height: 158px;
        background-color: #f6f6f6;

        p{
            width: 464px;
            
            color: #2a2a2a;
            font-family: "Sitka Small";
            font-size: 18px;
            font-style: italic;
            /* Text style for "‘‘, ’’" */
            font-family: "Sitka Heading";
            font-size: 30px;
            /* Text style for "," */
            font-family: "Sitka Heading";
            /* Text style for "I fell in" */
            font-family: "Sitka Small - Italic";
        }
    }
    .photo-user{
        height: 46px;
        width: 76px;
    }
    
}

footer{
    height: 128px;
    background-color: #202833;
   
        
    
    
    .grey-line{
        height: 2px;
        width: 100%;
        background-color: #dadada;

    }
    .name-company{
        padding-top: 40px;
    }
    .footer-link{  
        padding-top: 44px;
        color: #ffffff;
        font-family: Raleway;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .copyright{
        margin-top: 47px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 500;
    }
    .contact{
        padding-top: 33px;
    }
    .link-contact{
        
        padding-bottom: 16px;
            
        color: #ffffff;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 400;
        /* Text style for "info@snapf" */
        font-family: Raleway;
        /* Text style for "+213-4321-" */
        font-family: Roboto;
        font-weight: 400;
    }
    .design-by{
        margin-top: 18px;
        opacity: 0.23;
        color: #ffffff;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 500;
    }

}