

 
  @font-face {
    font-family: "Raleway-ExtraBold";
    src: url('../fonts/raleway-extrabold.woff');
    src: url('../fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/raleway-extrabold.woff') format('woff'),
          url('../fonts/raleway-extrabold.ttf') format('truetype'),
          url('../fonts/raleway-extrabold.svg#ralewayextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
  }
  
/********************************/
@font-face {
  font-family: "Raleway-Regular";
  font-weight: 400;
  src: url("../fonts/Raleway-Regular.woff");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Raleway-Regular.woff") format("woff"),
       url("../fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url('../fonts/raleway-medium.woff');
  src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-medium.woff') format('woff'),
        url('../fonts/raleway-medium.ttf') format('truetype'), 
        url('../fonts/raleway-medium.svg#ralewaymedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Sitka-Small-Italic';
  src: url('../fonts/sitka-small-italic.woff') format("woff");
  src: url('../fonts/sitka-small-italic.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/sitka-small-italic.woff') format('woff'), 
      url('../fonts/sitka-small-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Light";
  src: url('../fonts/raleway-light.woff');
  src: url('../fonts/raleway-light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/raleway-light.woff') format('woff'), 
      url('../fonts/raleway-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url('../fonts/raleway-bold.woff');
  src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/raleway-bold.woff') format('woff'), 
      url('../fonts/raleway-bold.ttf') format('truetype'), 
      url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url('../fonts/raleway-semibold.woff');
  src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/raleway-semibold.woff') format('woff'), 
        url('../fonts/raleway-semibold.ttf') format('truetype'), 
        url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face{
  font-family: "Reef-Bold";
  src: url('../fonts/Reef-Bold.woff');
  src: url('../fonts/Reef-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Reef-Bold.woff') format('woff'), 
      url('../fonts/Reef-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal  
}
@font-face{
  font-family:"Kartika-Bold";
  src: url('../fonts/Kartika-Bold.ttf');
  src:  url('../fonts/Kartika-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal 
}

@font-face{
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.woff') format("woff");
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/Roboto-Regular.woff') format('woff'), 
      url('../fonts/Roboto-Regular.ttf') format('truetype'), 
      url('../fonts/Roboto-Regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.woff') format("woff");
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/Roboto-Light.woff') format('woff'), 
      url('../fonts/Roboto-Light.ttf') format('truetype'), 
      url('../fonts/Roboto-Light.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Roboto-Bold';
  src: url('../fonts/RobotoBold.woff') format("woff");
  src: url('../fonts/RobotoBold.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/RobotoBold.woff') format('woff'), 
      url('../fonts/RobotoBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: "SegoeUI-Bold";
  src: url('../fonts/SegoeUI-Bold.woff');
  src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SegoeUI-Bold.woff') format('woff'), 
      url('../fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal  
}
@font-face{
  font-family: "LuganskyV";
  src: url('../fonts/LuganskiyV.woff');
  src: 
      url('../fonts/LuganskiyV.woff') format('woff'), 
      url('../fonts/LuganskiyV.ttf') format('truetype');
  
  font-style: normal  
}
@font-face{
  font-family: 'FontAwesome-Webfont';
  src: url('../fonts/fontawesome-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {     
  font-family: 'Calibri-Bold';
  src: url('../fonts/calibri-bold.woff');
  src:  url('../fonts/calibri-bold.woff') format('woff'),
        url('../fonts/calibri-bold.ttf') format('truetype'), 
        url('../fonts/calibri-bold.svg#ralewaymedium') format('svg');
  font-weight: 700;
  font-style: normal;
}